.title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
 }

 .occupation-title {
   margin-bottom: 50px;
 }

 .occupation__list {
   @extend %reset-list;

   display: flex;
   gap: var(--indent);
   padding-bottom: 94px;
 }

 .occupation__item {
   position: relative;
 }

 .occupation__overlay {
   position: absolute;
   left: 0;
   bottom: 0;

   background-color: rgba(47, 48, 58, 0.8);

   display: flex;
   align-items: center;
   justify-content: center;

   width: 100%;
 }

 .occupation__text {
   margin-top: 27px;
   margin-bottom: 27px;

   font-weight: 700;
   font-size: 14px;
   line-height: calc(16 / 14);
   text-align: center;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--secondary-txt-cl);
   user-select: none;
 }
