.portfolio {
    @extend %section;
} 

.btn {
    display: flex;
    justify-content: center;
    gap: 8px; 
  }
 
.btn-list {
    margin-bottom: 50px;
  }

.btn__item {
    @extend %reset-list;
  }
 
.btn__portfolio {
    display: block;
    padding: 5px 21px;
    border-radius: 4px;
 
     font-family: inherit;
     font-weight: 500;
     font-size: 16px;
     line-height: calc(26 / 16);
     letter-spacing: 0.03em;
     color: var(--main-txt-cl);
     background-color: var(--light-bg-cl);
     border: transparent;
     cursor: pointer;
 
     transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);
  
     &:hover,
     &:focus,
     &--active-current {
     color: var(--secondary-txt-cl);
     background-color: var(--accent-color);
     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
    }

.portfolio__list {
        @extend %reset-list;

        display: flex;
        flex-wrap: wrap;
        gap: var(--indent);
      }
     
.portfolio__item {
    $indent: 30px; 
    $elements: 3;
    flex-basis: calc((100%-(#{$elements}-1)*#{$indent})/#{$elements});
}

.portfolio__link {
    @extend %reset-link;
    transition: box-shadow var(--animation);

    &:hover {
        display: block;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
  }
 
  .portfolio__cards {
    position: relative;
    overflow: hidden;
  }
 
  .portfolio__overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform var(--animation);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);

    .portfolio__link:hover &,
    .portfolio__link:focus & {
        transform: translateY(0);
 }
  }

  .portfolio__overlay-text {
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;
    color: var(--secondary-txt-cl);
    user-select: none;
  }
 
  .portfolio__wrapper {
    padding: 20px 24px;
    border-top: none;
    border: 1px solid #EEEEEE;
  }
 
  .portfolio__title {
    margin-bottom: 4px;
     font-weight: 700;
     font-size: 18px;
     line-height: calc(36 / 18); 
     letter-spacing: 0.06em;  
     color: #212121;
  }
 
  .portfolio__text {
     font-size: 16px;
     line-height: calc(30 / 16);
     letter-spacing: 0.03em;
     color: var(--minor-txt-cl);
  }
  
  

 
  